
.vid{
    position: relative;
    margin-top: 7%;
    margin-left:5%;
    width:60%;
    height: auto;
    background-color: aquamarine;
    float: left;
    border:2px solid red;

}
.vid video{
    width: 100%;
}
#trsp{
    position: relative;
    width:30%;
    margin-top: 7%;
    float: left;
    padding: 1%;
    margin-right:5%;
    border:2px solid red;
    height:100%;
    
   
}
