.vid{
    position: relative;
    margin-top: 7%;
    margin-left:5%;
    width:60%;
    height: auto;
    background-color: aquamarine;
    float: left;
    border:2px solid red;

}

.vid video{
    width: 100%;
    padding:2px;
}

.trspt{
    width:30%;
    margin-left: 68%;
    margin-top: 7%;
    border:2px solid red;
    margin-right:2%;
    height: auto;

}
form{
    width: 100%;
    padding:10px;
}

.trsp{
   height:100px;
   width: 100%;
   padding:10px;
   overflow: auto;


}

.T-S{
   margin-top: 2%;
}
.T-S :hover{
    color:aquamarine;
}







