{% extends "layout.html"  %}

{%  block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
<div class="vid">
  <video src="static/Myvideo.mp4"  controls>
  </video>
</div>
<div class="trsp">
  <form method="POST" action=" ">
    {{ form.hidden_tag() }}
    <fieldset>
    <legend >Transcripts</legend>
    <div>
      {{ form.transcript1}}
      {{ form.transcript2}}
      {{ form.transcript3}}
    </div>
  </fieldset>
  {{ form.submit}}

  </form>

    
</div>

{% endblock %}