{% extends "layout.html"  %}

{%  block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='videos.css') }}">

<div>

 

  <div id="vid_show">
    {% for item in video %}
    <div id="vid_s">

      <form action="/Videos" method="post">
        <script type=text/javascript>
           var path= '{{item.Path}}';
          </script>
        <button type="button" onclick="vidPlay('{{item.Path}}')">{{ item.Path }}</button>
        
     
        
    </form>
      
    </div>
    
    
    {% endfor  %}
  </div>
</div>




<div class="vid">
  <video id="wtf" src='' type="video/mp4" controls>
  </video>
   </div>

   <script type=text/javascript>
    function vidPlay(path){
      
      var Path =document.getElementById("wtf")
      Path.src=path ;
      
     
              
    }
  </script>
 
 
 



<div class="trspt">
  <form method="POST" action=" ">
    {{ form.hidden_tag() }}
    <fieldset>
    <legend >Transcripts</legend>
    <div>
      <p>Transcript 1 </p>
      <textarea name="transcript1"  class="trsp"></textarea>
      <p>Transcript 2 </p>
      <textarea name="transcript2"  class="trsp"></textarea>
      <p>Transcript 3 </p>
      <textarea name="transcript3"  class="trsp"></textarea>

      {{ form.submit(class="T_S")}}


    </div>
  </fieldset>

  </form>

    
</div>


{% endblock %}