{% extends "layout.html"  %}

{%  block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='videos.css') }}">
<div class="vid">
  <input type="file" accept="video/*"/>
  <video  controls>
  </video>
</div>
<div class="trspt">
  <form method="POST" action=" ">
    {{ form.hidden_tag() }}
    <fieldset>
    <legend >Transcripts</legend>
    <div>
      <p>Transcript 1 </p>
      <textarea name="transcript1"  class="trsp"></textarea>
      <p>Transcript 2 </p>
      <textarea name="transcript2"  class="trsp"></textarea>
      <p>Transcript 3 </p>
      <textarea name="transcript3"  class="trsp"></textarea>

      <button type="submit" class="T-S">Submit</button>

    </div>
  </fieldset>

  </form>

    
</div>

{% endblock %}